body {
    color: #82a5ca;
    text-align: center;
    font-family: "Orbitron", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    margin: 0;
}

.fBut{
    padding: 5px 10px;
    background-color: white;
    border : none;
    font-family: "Orbitron", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
    color: #82a5ca;
}

.underline {
    border-bottom: solid white 4px;
}

#main-logo {
    width: 100px;
}

.hero {
    background-image: url("images/galaxy.gif");
    background-size: cover; 
    padding: 10px 0 150px 0;
}